
.obj.unread * {font-weight:bold}

.editornotes {
    background-color: #ffffff;
    color:#000 !important;
    font-size:1em !important;
    width: 100%;
    font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* ticketSeverity colors */

.critical {color:#cc0000}
.major {}
.normal {}
.minor {}

/* ticketStatus colors */

.new {color:#ffff00}
.assigned{}
.analysis{}
.development{}
.test{}
.resolved {color:#339900 !important;}
.unresolvable {}
.obsolete {}

ul.users-relations li{
    display:inline;
    padding:4px 5px 4px 5px;
    width:auto;
}


/*...........................................    

   TIMELINE

...........................................*/

.timeline header {
    padding-bottom:20px;
    background-image: linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    /*background-size:{$coeff*7}px {$coeff*5}px, {$coeff*7}px {$coeff*7}px, {$coeff}px {$coeff}px, {$coeff}px {$coeff}px;*/
}

.matrix {
    position: relative;
    background-color:rgba(255,255,255,0);
    /*background-image: linear-gradient(white 0px, transparent 0px),
    linear-gradient(90deg, rgba(128,128,128,.2) {$coeff*2}px, transparent 1px), linear-gradient(rgba(255,255,255,.3) 0px, transparent 0px), linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);*/
    /*background-size:{$coeff*7}px {$coeff*5}px, {$coeff*7}px {$coeff*7}px, {$coeff}px {$coeff}px, {$coeff}px {$coeff}px;*/
    /*background-position: -{$coeff*2}px;*/
}


 .t_today {
     /*border-left:{$coeff}px solid rgba(255,0,0,1);
   margin-left:{$todayshift*$coeff}px;*/
    color:red;
    position:absolute;
    margin-top:-27px;
    padding-top:20px;
    height:100%;
    padding-left:5px;
    z-index: 3;
    pointer-events: none;
 }

.timeline {
    padding-bottom: 350px;
    overflow-x:auto;
    width:100%;
}

.timeline .tab {
    position: relative;
    z-index: 4;
    margin-bottom: 20px;
}

.matrix .mainticket {
    margin-bottom:20px;
    width:100%;
    /*padding-bottom: 20px;*/
}

.matrix .mainticket .thead {
    background-color:rgba(255,255,255,1); 
    height:20px;
    padding-left:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position:relative;
    z-index:8;
    border-collapse: collapse;
 }

.matrix .mainticket .thead TD {
    padding:2px 2px 2px 10px;
    text-align: left;
    white-space: nowrap;
}
.matrix .mainticket .thead .plusminus {
    cursor: pointer;
    width:20px;
}

.flowticket {
    margin-top:0px;
    background-color:pink; 
    font-weight: normal;
    height:20px;
    max-height:20px;
    min-height:20px;
    opacity:1;
    font-size:12px;
    color:white !important;
    text-indent:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) inset;
    position: relative !important;
    top: 0 !important;
    z-index: 1000;
    box-sizing:content-box;
    white-space: nowrap;
    cursor: pointer;
}

.flowticket .ui-resizable-e {
    height:20px;
    max-height:20px;
    min-height:20px;
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: e-resize;
}

.flowticket .ui-resizable-w {
    height:20px;
    max-height:20px;
    min-height:20px;
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: w-resize;
}

.flowticket input[type="text"] {
    width: 100%;
}

.flowticket.analysis { background-color: #cc6666 }  /* analisi del libro                            new | assigned | developement | test | closed */ 
.flowticket.tagging  { background-color: #ff9900 }  /* taggatura                                    new | assigned | developement | test | closed */ 
.flowticket.editing { background-color: #99cc66 }   /* editing BEdita iebattore                     new | assigned | developement | closed */ 
.flowticket.checking  { background-color: #6e9bed }  /* correzioni e ticket redattori               new | assigned | developement | closed */ 
.flowticket.revision  { background-color: #3d82c7 }  /* soluzioni ticket e rifiniture iebattori     new | assigned | developement | test | closed | reopened */ 
.flowticket.release  { background-color: #073564 }  /* applicazione permessi e pubblicazione        new | assigned | developement | test | closed */ 

.flowticket.resolved  { }
/*
.flowticket.analysis  {
background: 
linear-gradient(135deg, red 25%, transparent 25%) -50px 0,
linear-gradient(225deg, red 25%, transparent 25%) -50px 0,
linear-gradient(315deg, red 25%, transparent 25%),
linear-gradient(45deg, red 25%, transparent 25%);   
background-size: 20px 20px;
}
*/
.matrix .mainticket.closed  {
    margin-bottom:0px;
}

.matrix .mainticket.closed .thead {
    margin-bottom:20px;
}

.matrix .mainticket.closed .flowticket {
    margin-top:-20px;
    opacity:.5;
    color:transparent !important;
}

.matrix .mainticket.closed .flowticket * {
    display:none !important;
}

.matrix .mainticket .thead .plusminus:before {
    content:' - ';
}
.matrix .mainticket.closed .thead .plusminus:before {
    content:' + ';
}

.info_ticket {
    display:none;
    width:220px;
    color:#FFF;
    background-color: #444;
    position:absolute;
    padding:10px;
    z-index: 15;
    margin-left: 0px;
    margin-top: 15px;
}

.info_ticket td:first-child {
    padding-left: 0px;
}

.info_ticket:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 10px;
    border-bottom: solid 5px #444;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}

.flowticket .ncomments {
    display: inline-block;
    width:16px;
    height:16px;
    line-height: 16px;
    font-size: 11px;
    background-color: black;
    border-radius: 100%;
    text-align: center;
    margin:0px 0px 0px 4px;
}

.info_ticket .profile {
    width:50px;
    height:50px;
    border-radius: 100%;
    background-color: #666;
    font-size: 24px;
    text-align: center;
    line-height: 0;
    padding-top:24px;
    display: inline-block;
    margin: 5px 5px 5px 0px
}

.info_ticket TR {
    white-space: nowrap;
    border-top:1px solid rgba(255,255,255,.1);
    padding:2px; 
    margin:2px;
}

 .info_ticket TR:first-child {
    border:0px;
 }

 TD.tcal {
    text-align: right;
 }
