
.obj.unread * {font-weight:bold}

.editornotes {
	background-color: #ffffff;
	color:#000 !important;
	font-size:1em !important;
	width: 100%;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

/* ticketSeverity colors */

.critical {color:#cc0000}
.major {}
.normal {}
.minor {}

/* ticketStatus colors */

.new {color:#ffff00}
.assigned{}
.analysis{}
.development{}
.test{}
.resolved {color:#339900 !important;}
.unresolvable {}
.obsolete {}

ul.users-relations li{
	display:inline;
	padding:4px 5px 4px 5px;
	width:auto;
}


/*...........................................    

   TIMELINE

...........................................*/

.timeline {
    padding-bottom: 350px;
}

.matrix .mainticket {
    margin-bottom:20px; 
    width:100%;
}

.matrix .mainticket .thead {
    background-color:rgba(255,255,255,1); 
    display:block; 
    height:20px;
    padding-left:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    position:relative;
    z-index:800
 }

.matrix .mainticket .thead .plusminus {
    display: inline-block;
    text-align: right;
    padding-left: 0px;
    padding-right: 10px;
    cursor: pointer;
}

.flowticket {
    margin-top:0px;
    background-color:pink; 
    font-weight: normal;
    height:20px;
    max-height:20px;
    min-height:20px;
    opacity:1;
    font-size:12px;
    color:white !important;
    text-indent:5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) inset;
    position: relative !important;
    top: 0 !important;
    box-sizing:content-box;
    white-space: nowrap;

}

.flowticket .ui-resizable-e {
    height:20px;
    max-height:20px;
    min-height:20px;
    width: 10px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: e-resize;
}

.flowticket .ui-resizable-w {
    height:20px;
    max-height:20px;
    min-height:20px;
    width: 10px;
    position: absolute;
    left: 0;
    top: 0;
    cursor: w-resize;
}

.flowticket.analysis { background-color: #cc6666 }
.flowticket.tagging  { background-color: #ff9900 }
.flowticket.editing { background-color: #99cc66 }
.flowticket.checking  { background-color: #6e9bed }
.flowticket.revision  { background-color: #3d82c7 }
.flowticket.release  { background-color: #073564 }

.flowticket.resolved  { }
/*
.flowticket.overdelayed  {
background: 
linear-gradient(135deg, red 25%, transparent 25%) -50px 0,
linear-gradient(225deg, red 25%, transparent 25%) -50px 0,
linear-gradient(315deg, red 25%, transparent 25%),
linear-gradient(45deg, red 25%, transparent 25%);   
background-size: 20px 20px;
}
*/
.matrix .mainticket.closed  {
    margin-bottom:0px;
}

.matrix .mainticket.closed .thead {
    margin-bottom:20px;
}

.matrix .mainticket.closed .flowticket {
    margin-top:-20px;
    opacity:.5;
    color:transparent !important;
}

.matrix .mainticket.closed .flowticket * {
    display:none !important;
}

.matrix .mainticket .thead .plusminus:before {
    content:' - ';
}
.matrix .mainticket.closed .thead .plusminus:before {
    content:' + ';
}

.info_ticket {
    display:none;
    width:200px;
    color:#FFF;
    background-color: #444;
    position:absolute;
    padding:10px;
    z-index: 900;
    margin-left: 0px;
    margin-top: 25px;
}

.info_ticket td:first-child {
    padding-left: 0px;
}

.info_ticket:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 10px;
    border-bottom: solid 5px #444;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
}

.flowticket .ncomments {
    display: inline-block;
    width:16px;
    height:16px;
    line-height: 16px;
    font-size: 11px;
    background-color: black;
    border-radius: 100%;
    text-align: center;
    margin:0px 0px 0px 4px;
}

.info_ticket .profile {
    width:50px;
    height:50px;
    border-radius: 100%;
    background-color: #666;
    font-size: 24px;
    text-align: center;
    line-height: 0;
    padding-top:24px;
    display: inline-block;
    margin: 5px 5px 5px 0px
}

.info_ticket TR {
    white-space: nowrap;
    border-top:1px solid rgba(255,255,255,.1);
    padding:2px; 
    margin:2px;
}

 .info_ticket TR:first-child {
    border:0px;
 }

 TD.tcal {
    text-align: right;
 }
